Assignmet 1(task-1(q2))

In [17]:
List =[]
for i in range(2000, 3200):
    if (i%7 ==0) and (i%5!=0) :
        List.append(str(i))
print(','.join(List))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

task1-(q2)

In [19]:
first_name = input("Input first Name : ")
last_name = input("Input Last Name : ")
print (last_name + " " + first_name)

Input first Name : subha
Input Last Name : dipta
dipta subha

task1-(q3)

In [32]:
dia = float(input('diameter of sphere: '))
rad = .5 * dia
pi= 22/7
vol = (4/3) * (pi * rad ** 3)
print("Volume is: ", vol)

diameter of sphere: 12
Volume is:  905.1428571428571

task2(q1)

In [36]:
number =input("Enter comma separated numbers: ").split(',')
number
type(number)

Enter comma separated numbers: 12,13,14

list

task2(q2)

In [1]:
no_rows = input("Enter max star for single line")
no_rows = int (no_rows)
for i in range (0, no_rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (no_rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Enter max star for single line5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

task2(q3)

In [4]:
#slice method for less exceute time
word = input("Input a word to reverse: ")
print (word[::-1])

Input a word to reverse: AWERty
ytREWA

rask2(q4)

In [12]:
Story = "WE,THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}"
print(Story.format('\n\t','!\n\t\t','\n\t\t',''))

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens